absl-py
affine
aiohttp
aiosignal
albucore
albumentations
altair
annotated-types
anyio
asgiref
astunparse
attrs
auth
bcrypt
beartype
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
cftime
charset-normalizer
click
click-plugins
cligj
cloudpathlib
cloudpickle
colorama
comtypes
ConcurrentImageRead
confection
contourpy
cryptography
cv
cycler
cymem
d2
dacite
datasets
dill
dm-tree
dnspython
ecdsa
email_validator
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
fastai
fastapi
fastcore
fastdownload
fastprogress
fasttransform
filelock
flatbuffers
fonttools
frozendict
frozenlist
fsspec
future
gast
geopandas
gitdb
GitPython
glob2
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
html5lib
httpcore
httpx
huggingface-hub
idna
ImageDataAugmentor
ImageHash
imageio
imgaug @ git+https://github.com/aleju/imgaug.git@0101108d4fed06bc5056c4a03e2bcb0216dac326
importlib_resources
intel-openmp
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
jwt
keras
kiwisolver
langcodes
lazy_loader
libclang
lightning-utilities
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
missingno
mkl
ml_dtypes
mongoengine
mplfinance
mpmath
multidict
multimethod
multiprocess
multitasking
murmurhash
mysql
mysqlclient
namex
netCDF4
networkx
nltk
numba
numpy
opencv-python
opencv-python-headless
opt-einsum
optree
orjson
packaging
pandas
passlib
patsy
phik
pillow
platformdirs
plotly
plum-dispatch
preshed
proto-plus
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pymongo
PyMySQL
pyogrio
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
pytorch-lightning
pytz
PyWavelets
PyYAML
rasterio
referencing
regex
requests
rich
router
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
shapely
simsimd
six
smart-open
smmap
sniffio
snuggs
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
starlette
statsmodels
stringzilla
sympy
tabulate
tangled-up-in-unicode
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflowjs
termcolor
tf_keras
thinc
threadpoolctl
tifffile
tokenizers
toml
toolz
torch
torchmetrics
torchvision
tqdm
transformers
typeguard
typer
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uvicorn
wasabi
watchdog
watchfiles
weasel
webencodings
websockets
wheel
wrapt
xarray
xxhash
yarl
ydata-profiling
yfinance
